.video-conference {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
  }
  
  .icon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 25px;
    border-bottom: 1px solid #ddd;
  }
  .use-avater {
    display: flex;
    align-items: center;
    gap: 15px;
  }
  .banner {
    display: flex;
    min-height: 710px;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  .logo img {
    display: flex;
    width: 120%;
    height: 50px;
  }
  .user-info {
    display: flex;
    align-items: center;
  }
  
  .user-avatar {
    margin-right: 10px;
  }
  
  .user-name {
    display: flex;
    font-size: 16px;
  }
  .empt {
    display: flex;
    justify-content: center;
    position: relative;
    top: 100px;
  }
  .video-grid {
    flex: 1;
    padding: 10px;
    overflow: auto;
  }
  
  .video-tile {
    position: relative;
  }
  
  .video-avatar {
    width: 100%;
    height: auto;
  }
  
  .mute-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
  }
  .chat-panel-func {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
  }
  .chat-panel {
    display: flex;
    width: 350px;
    height: 670px;
    border: 1px solid #ddd;
    padding: 1% 1% 1% 1%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 2px rgb(191, 223, 191);
  }
  
  .chat-header {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  .chat-button {
    display: flex;
    justify-content: center;
    padding: 15px;
  }
  .btn1 {
    width: 150px;
    height: 40px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    border: 3px solid #d4e5d2;
    /* border: none; */
  }
  .btn2 {
    width: 150px;
    height: 40px;
    border-top-right-radius: 20px;
    background-color: #d4e5d2;
    border-bottom-right-radius: 20px;
    border: none;
  }
  .participants-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
  }
  .Participant-heading {
    display: flex;
    font-size: 25px;
    font-weight: 600;
    /* justify-content: flex-start; */
    align-content: space-between;
    position: relative;
    /* top: -43px; */
    left: 25px;
  }
  .participant-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-content: center;
    justify-content: center;
    width: 92%;
  }
  .name-id{
    background: #d4e5d2;
    font-size: 25px;
    padding: 16px;
    margin-left: 26px;
    border-radius: 15px;
  }
  .toggle {
    width: 150px;
    height: 40px;
    background-color: #d4e5d2;
    border: none;
  }
  .active {
    width: 150px;
    height: 40px;
    border: 3px solid #d4e5d2;
    background-color: white;
  }
  .chat-body {
    flex: 1 1;
    padding: 10px;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 76px;
  }
  .chat-body-end {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    position: relative;
    top: 72px;
    left: 12px;
  }
  .chat-body-end-Htag {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-direction: row;
    background-color: #d4e5d2;
    border-radius: 5px;
  }
  .conversion {
    color: #f1f0f0;
    /* padding-bottom: 2%; */
    position: relative;
    top: 20px;
    left: 100px;
  }
  .chat-placeholder {
    color: #c9c6c6;
    text-align: center;
    position: relative;
    top: -81px;
  }
  .chat-footer {
    display: flex;
    padding: 10px;
  }
  .chat-footer input {
    border: 1px solid rgb(241, 238, 238);
    width: 100%;
    height: 40px;
    border-radius: 5px;
    padding-left: 30px;
    outline: none;
  }
  .chat-footer-search-text-send {
    position: absolute;
    right: 60px;
    padding-top: 10px;
  }
  .icons-bar {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .icon1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(71, 201, 71);
    width: 40px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
  }
  .icon2 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(29, 29, 29);
    width: 40px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
  }
  .icon3 {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(238, 71, 71);
    width: 40px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
  }
  .footer {
    display: flex;
    justify-content: space-between;
    height: 70px;
    padding: 10px;
    background-color: #0e0d0d;
    color: white;
    border-top: 1px solid #ddd;
    padding: 0px 40px;
  }
  .footer-left-content {
    display: flex;
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .footer-right-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .video-cam {
    background: green;
    color: white;
    border-radius: 20px;
  }
  .mic-con {
    background: green;
    color: white;
    border-radius: 20px;
  }
  .phone-icon {
    background: rgb(88, 88, 88);
    color: white;
    border-radius: 20px;
  }
  .chatbul-icon {
    background: rgb(88, 88, 88);
    color: white;
    border-radius: 20px;
  }
  .videoCalling {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: auto;
  }
  .image-hero-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 22px;
  }
  .image-gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
  }
  .image-gallery img {
    height: 220px;
    width: 300px;
  }
  
  .section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 25px;
  }
  .Image1 {
    display: flex;
    width: 50px;
    /* height: 50px; */
    background-image: url("./images/Image1.png");
    background-repeat: no-repeat;
  }
  .Image2 {
    display: flex;
    width: 50px;
    /* height: 50px; */
    background-image: url("./images/Image2.png");
    background-repeat: no-repeat;
  }
  .Image3 {
    display: flex;
    width: 50px;
    /* height: 50px; */
    background-image: url("./images/Image3.png");
    background-repeat: no-repeat;
  }
  .Image4 {
    display: flex;
    width: 50px;
    /* height: 50px; */
    background-image: url("./images/Image4.png");
    background-repeat: no-repeat;
  }
  .Image5 {
    display: flex;
    width: 50px;
    /* height: 50px; */
    background-image: url("./images/Image5.png");
    background-repeat: no-repeat;
  }
  .Image6 {
    display: flex;
    width: 50px;
    /* height: 50px; */
    background-image: url("./images/Image6.png");
    background-repeat: no-repeat;
  }
  .Image7 {
    display: flex;
    width: 50px;
    /* height: 50px; */
    background-image: url("./images/Image7.png");
    background-repeat: no-repeat;
  }
  .Image8 {
    display: flex;
    width: 50px;
    /* height: 50px; */
    background-image: url("./images/Image8.png");
    background-repeat: no-repeat;
  }
  .Image9 {
    display: flex;
    width: 50px;
    /* height: 50px; */
    background-image: url("./images/Image9.png");
    background-repeat: no-repeat;
  }
  .Image10 {
    display: flex;
    width: 50px;
    /* height: 50px; */
    background-image: url("./images/Image10.png");
    background-repeat: no-repeat;
  }
  .Image11 {
    display: flex;
    width: 50px;
    /* height: 50px; */
    background-image: url("./images/Image11.png");
    background-repeat: no-repeat;
  }
  .Image12 {
    display: flex;
    width: 50px;
    /* height: 50px; */
    background-image: url("./images/Image12.png");
    background-repeat: no-repeat;
  }
  